* {
  margin: 0;
}

body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
  border-bottom: 2px solid rgba(255, 255, 255, 0.205);
}

ol {
  padding-left: 0;
}

.crumb {
  margin-right: 2em;
  display: inline;
}

a {
  color: orange;
}

a:visited {
  color: rgb(168, 168, 168);
}

input {
  display: block;
}

.cat-img {
  max-width: 300px;
}

body {
  margin: 0;
  overflow: none;
  background: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  justify-content: center;
}
.header {
  position: fixed;
  height: 50px;
  width: 100%;
  margin: 25px 25px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 30px 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  color: rgb(255, 255, 255);
}

.logo {
  width: 100px;
  padding-left: 100px;
}

.nav__items {
  display: flex;
}
.nav__items ul {
  display: flex;
}
.nav__menu {
  z-index: 1;
}
.nav__items li {
  margin-right: 20px;
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav__items a:hover {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

/* //-------section---- */
/* section {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
} */

.hero {
  background-image: url(./assets/Untitled\ 125446f332.jpg);

  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
}

.top-div {
  margin-top: 100px;
  align-items: center;
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  width: 70%;
  height: 70vh;
  justify-content: space-between;
}
.right-div {
  width: 80%;
  height: 100%;
  justify-content: center;
  align-content: center;
  background: rgba(95, 158, 160, 0);
  margin: 35px;
}

.profile-img {
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.left-divs {
  width: 100%;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.376);
  flex-direction: column;
  margin: 35px;
  padding: 15px;
}
.left-divs p {
  padding: 20px;
}
.left-div-titles {
  height: 60vh;
  /* background-color: bisque; */
  justify-content: start;
  align-items: center;
  color: white;
}
.left-div-elements {
  /* background-color: blue; */
}
.btn-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.yellow-Btn {
  background: yellow;
  padding: 20px 30px;
  border-radius: 30px;
  color: rgba(49, 49, 49, 0.876);
  font-size: 16px;
  margin-top: 50px;
}
.yellow-Btn:hover {
  background-color: rgba(80, 80, 80, 0.178);
  color: white;
  transition: ease-in-out 0.5s;
}

p {
  margin: 20px;
}
